<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="client.mylittledoctor.formation.arlebois.com.mylittledoctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CentralActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".atelier.AtelierActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".utilisateur.UtilisateurCreateActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".utilisateur.EvaluationGesteActivity"
            android:parentActivityName=".utilisateur.UtilisateurCreateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utilisateur.UtilisateurCreateActivity" />
        </activity>
        <activity android:name=".rapport.RapportActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".rapport.RapportCreateActivity"
            android:parentActivityName=".rapport.RapportActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rapport.RapportActivity" />
        </activity>
        <activity android:name=".rapport.RapportViewActivity"
            android:parentActivityName=".rapport.RapportActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rapport.RapportActivity" />
        </activity>
        <activity android:name=".rapport.RapportUpdateActivity"
            android:parentActivityName=".rapport.RapportActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rapport.RapportActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>